@model IEnumerable<Batch.Models.Lote>

@{
    ViewData["Title"] = "Batches";
}


<div class="container mt-5">

    <!-- Botón para abrir modal -->
    <div class="row mb-4 ">
        <div class="col d-flex justify-content-start text-center">
            <!-- Botón para abrir el modal -->
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#nuevoBatchModal">
                Nuevo Batch
            </button>
        </div>
    </div>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Folio</th>
                <th>Componente</th>
                <th>Fecha Inicio</th>
                <th>Fecha Exp</th>
                <th>Turno</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Folio</td>
                    <td>@item.Componente?.Name</td>
                    <td>@item.FechaInicio.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@item.FechaExp.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@Batch.Helpers.DiaLaboralHelper.ObtenerTurno(item.FechaInicio)</td>
                </tr>
            }
        </tbody>
    </table>



    @* <!-- Render del partial -->
    @Html.Partial("_PartialAccordion") *@

</div>



<!-- Aquí incluyes el modal que ya definimos -->
@await Html.PartialAsync("_NuevoBatchModal")


@section Scripts {
    <script>
      
    </script>
}