@model IEnumerable<Batch.Models.Lote>

@{
    ViewData["Title"] = "Batches";
}

<div class="container mt-5">

    <!-- Botón para abrir modal -->
    <div class="row mb-4">
        <div class="col d-flex justify-content-start text-center">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#nuevoBatchModal">
                Nuevo Batch
            </button>
        </div>
    </div>

    <h3 class="mb-3">Listado de Batches</h3>

    <table class="table table-striped table-bordered align-middle">
        <thead class="table-dark text-center">
            <tr>
                <th>Registro ID</th>
                <th>Folio</th>
                <th>Componente</th>
                <th>Fecha Inicio</th>
                <th>Fecha Exp</th>
                <th>Turno</th>
                <th>Acciones</th> <!-- nueva columna -->
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center fw-bold">@item.RegistroId</td>
                        <td class="text-center">@item.Folio</td>
                        <td>@item.Componente?.Name</td>
                        <td>@item.FechaInicio.ToString("dd/MM/yyyy HH:mm")</td>
                        <td>@item.FechaExp.ToString("dd/MM/yyyy HH:mm")</td>
                        <td class="text-center">
                            @Batch.Helpers.DiaLaboralHelper.ObtenerTurno(item.FechaInicio)
                        </td>
                        <td class="text-center">
                            <!-- Botón para acceder a la evaluación -->
                            <a asp-controller="Batch" asp-action="Evaluar" asp-route-id="@item.Id"
                               class="btn btn-sm btn-success">
                                Evaluar
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="7" class="text-center text-muted">No hay batches registrados</td>
                </tr>
            }
        </tbody>
    </table>

</div>



    @* <!-- Render del partial -->
    @Html.Partial("_PartialAccordion") *@




<!-- Aquí incluyes el modal que ya definimos -->
@await Html.PartialAsync("_NuevoBatchModal")


@section Scripts {
    <script>
      
    </script>
}